:root {
    --warm-ivory: #ffefcd;
    --natural: #a58e74;
    --apricot: #e09132;
    --fern: #424530;
    --graphite: #2c2c2c;
}

body {
    font-family: 'Abel', sans-serif;
}

nav {
    background-color: var(--natural);
}

.navbar-brand {
    width: 5.375rem;
}

.logo {
    object-fit: cover;
    width:100%;
    height:100%;
}

.nav-link {
    margin-left: 3rem;
    margin-right: 3rem;
}
header {
    background-image: url(../imgs/fondo-inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    color: var(--warm-ivory);
}
